:root {
  --scroll-bg-now: url("./assets/bg0.jpeg");
}

body {
  margin: 0;
  background: #00000077;
  background-image: var(--scroll-bg-now);
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 1s ease-in-out;
}

/*  Custom Scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

// Scroll section
.scroll-section {
  height: calc(100vh - 64px);
  & .container {
    padding-top: 10vh;
  }
}

//  Frosted Glass
.glass {
  background: rgba(17, 84, 184, 0.4);
  background: linear-gradient(137deg, rgba(17, 84, 184, 0.4) 0%, rgba(162, 82, 166, 0.4) 100%);

  height: 70vh;
  border-radius: 16px;
  // backdrop-filter: blur(10px);
}

// Main text container
.pinned {
  z-index: 10;
  top: 20vh;
  left: 8%;
  width: 84%;
  margin: 0 auto;
  max-width: 1080px;

  & .row{
    height: 70vh;
  }
}
@media #{$medium-and-up} {
  .pinned {
    left: 10%;
    width: 80%;
  }

  // Vertical align arrow button
  .align-vert {
    position: absolute;
    height: 100%;
  }
}
@media #{$large-and-up} {
  .pinned {
    left: 18%;
    width: 64%;
  }
}

// Main Headline
.headline {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.align-vert {
  display: flex;
  align-items: center;
  justify-content: center;
}
