:root {
  --scroll-bg-now: url("./assets/bg0.jpeg");
}

body {
  margin: 0;
  background: #000000;
  background-image: var(--scroll-bg-now);
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 1s ease-in-out;
}

/*  Custom Scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

// Scroll section
.scroll-section {
  height: calc(100vh - 64px);
  & .container {
    padding-top: 10vh;
  }
}

//  Frosted Glass
.glass {
  background: #ff5722;
  // background: linear-gradient(180deg, #ff5722 80%, #ffffff 80%);
  height: 70vh;
  border-radius: 16px;
  // backdrop-filter: blur(10px);
}

.glass-card {
  height: 118px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  bottom: calc(-70vh + 118px);
}

.pd0 {
  padding: 0 !important;
}

// Main text container
.pinned {
  position: relative;
  z-index: 5;
  top: 20vh;
  left: 8%;
  width: 84%;
  margin: 0 auto;
  max-width: 1080px;

  & .row {
    height: 70vh;
  }
}

// Vertical align arrow button
.vhcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media #{$medium-and-up} {
  .glass-card {
    height: 70vh;
    top: 0;
  }
  .pinned {
    left: 10%;
    width: 80%;
  }
  // Vertical align arrow button
  .vhcenter {
    right: 0;
    height: 68vh;
    justify-content: flex-end;
  }
}
@media #{$large-and-up} {
  .pinned {
    left: 18%;
    width: 64%;
  }
}

// Main Headline
.headline {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

//  Hero Container
.hero {
  z-index: 20;
  position: relative;
  // & .row {
  //   z-index: 20;
  //   border: dashed 7px #ff7b00;
  // }
}

.hero-text {
  font-family: "Pacifico", cursive;
  text-align: center;
  color: #f1f1f1;
}

// Ghost Button
.ghost-btn {
  bottom: -30vh;
  border-radius: 26px;
  color: #fff;
  height: 52px;
  border: solid rgb(0, 255, 55) 4px;
  font-size: 26px;
}
