:root {
  --scroll-bg-now: url("./assets/bg0.jpeg");
}

body {
  margin: 0;
  background-image: var(--scroll-bg-now);
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 1s ease-in-out;
}

/*  Custom Scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

//  Frosted Glass
.glass {
  height: calc(100vh - 64px);
  background-color: #00000067;
  backdrop-filter: blur(10px);
}

// Main text container
.pinned {
  z-index: 10;
  top: 10%;
  left: 5%;
}
@media #{$medium-and-up} {
  .pinned {
    top: 15%;
    left: 7.5%;
  }
}
@media #{$large-and-up} {
  .pinned {
    top: 20%;
    left: 15%;
  }
}

// Main Headline
.headline {
  opacity: 1;
  transition: opacity 0.9s ease-in;
}
